* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 6rem;
    background: linear-gradient(45deg, rgb(2,2,2), rgb(151, 147, 147));
    font-family: 'Times New Roman', Times, serif;
}

.booklist {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.booklist div {
    margin: 1rem 0;
}

.bkltapp__header { display: flex;}
.bkltapp__header h3{
    display: flex;
    font-size: 2.5rem;
    margin: auto;
}

ul {
    list-style-type: none;
}

ul li {
    display: flex;
    justify-content: space-between;
}


/* book list form */
.bkltapp__form {
    margin: auto;
    border: 2px solid black;
    border-radius: 1rem;
}
.bkltapp__form form {
    width: 60%;
    margin: auto;
}
.bkltapp__form label {
    color: rgb(216, 197, 189);
    font-size: 1.2rem;
}
.bkltapp__form input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: lightgray;
    padding: 0.2rem;
}

.bkltapp__form button {
    padding: 3px 6px;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(140, 160, 167);
}
.bkltapp__form input:hover {
    background-color: rgb(173, 170, 170);
    transition: 0.2s ease-in;
}
.bkltapp__form button:hover {
    background-color: rgb(151, 182, 194);
    transition: 0.3s ease-in;
    box-shadow: rgb(94, 116, 128) 0 0 0.2rem;
}


/* book list table data */
.bkltapp__list {
    margin-top: 1rem;
}
.bkltapp__list thead {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}
thead th {
    border-bottom: 2px solid rgb(96, 121, 96);
}
.bkltapp__list tbody {
    text-align: center;
} 
tbody td {
    padding: 1rem;
    border-bottom: 0.1px solid rgb(21, 26, 21);
    color: rgb(177, 177, 135);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
tbody :hover {
    color: rgb(196, 196, 77);
    background-color: transparent;    
}
.bkltapp__list tbody .btn {
    text-decoration: none;
    color: rgb(216, 105, 105);
    font-weight: bolder;
    font-size: 1.1rem;
    border: 2px solid rgb(126, 99, 99);
    border-radius: 5px;
    padding: 1px;
}
.bkltapp__list tbody .btn:hover {
    background-color: rgb(230, 195, 195);
    transition: 0.5s ease-in;
}


.booklist_error--msg {
    color: rgb(247, 76, 76);
    font-family: sans-serif;
}
.empty_list {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: rgb(150, 182, 179);
    font-family: sans-serif;
}

/* media queries */
@media (min-width:1200px) {
    .booklist {
        width: 30%;
    }
    .bkltapp__form form {
        width: 70%;
    }
}
@media (min-width:960px) and (max-width: 1200px) {
    .booklist {
        width: 40%;
    }
    .bkltapp__form form {
        width: 70%;
    }
}

@media (max-width: 960px) {
    .booklist {
        width: 50%;
    }
    .bkltapp__header h3{
        font-size: 1.8rem;
    }
    .bkltapp__form form {
        width: 70%;
    }
}
@media (max-width: 720px) {
    .booklist {
        width: 70%;
    }
    .bkltapp__form form {
        width: 70%;
    }
}